@page "/settings/boards"
@using Crolow.FastDico.Models.ScrabbleApi.Entities
@inherits ComponentControls.Settings.Boards.BoardsComponent
<RadzenLayout Style="height:100%;grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <SettingsSidebar />
    <RadzenBody>
        <div class="rz-p-1">
            <RadzenLayout Style="height:100%">
                <RadzenHeader style="padding:5px">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenMenu>
                            <RadzenMenuItem Text="New config" Icon="grid_on" Click="AddItem">
                            </RadzenMenuItem>
                        </RadzenMenu>
                    </RadzenStack>
                </RadzenHeader>
                <RadzenBody style="margin-top:10px;padding:0px;">
                    <RadzenDataGrid style="overflow-y: auto; flex-grow: 1;display: flex; flex-wrap: wrap;" AllowFiltering="true" AllowSorting="true" AllowColumnResize="true"
                                    @ref="grid" Data="@results" TItem="BoardGridModel">
                        <EmptyTemplate>
                            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No results</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn Property="@nameof(BoardGridModel.Name)" Title="Name" />
                            <RadzenDataGridColumn Width="50px" Property="@nameof(BoardGridModel.SizeH)" Title="H" HeaderTooltip="Horizontal Size" />
                            <RadzenDataGridColumn Width="50px" Property="@nameof(BoardGridModel.SizeV)" Title="V" HeaderTooltip="Vertical Size" />
                            <RadzenDataGridColumn TItem="BoardGridModel" Width="30px" Title="" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <RadzenButton Click=@(() => EditItem(data)) Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.ExtraSmall" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="BoardGridModel" Width="30px" Title="" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <RadzenButton Click=@(() => DeleteItem(data)) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="BoardGridModel" Width="30px" Title="" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <RadzenButton Click=@(() => CopyItem(data)) Icon="content_copy" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenBody>
            </RadzenLayout>
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}